/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,900;1,500;1,600&display=swap');*/
:root{
    --green: #2AA639;
    --grey: #3F3F3F;
    --ligthGrey: #6F6F6F;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0 solid #0000;
    font-family: 'Poppins', sans-serif;
}

.nav-bar {
    height: 10vh;
    width: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-bar__logo {
    font-size: 2em;
}

.nav-bar__logo span{
    color: var(--green);
}

.hamburger {
    height: 40px;
    width: 40px;
    background: #000;
    border-radius: 7px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hamburger__line {
    height: 5px;
    background: #fff;
    width: 80%;
    border-radius: 5px;
}

.slider-conteiner {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 15px;
    background: url(../img/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #0006;
    background-blend-mode: color
}

.slider__subtittle {
    color: #fff;
    font-size: 1.3em;
    font-weight: 400;
    font-style: normal;
}

.slider__tittle {
    color: #fff;
    font-size: 3em;
    font-weight: 600;
}

.button {
    width: auto;
    display: block;
    text-align: center;
    padding: 10px 20px;

    background: #fff;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 600;
    color: var(--green);
    margin-top: 30px;
    font-size: 1.2em;
}

.button--1 {
    background: var(--green);
    color: #fff;
}

.about-us-container {
    height: 140vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #F9F7FE;
    padding: 40px 15px 0px 15px;
}

.subtittle {
    color: var(--grey);
    font-weight: 300;
    font-style: normal;
    /*add color animation*/
}

.tittle {
    color: #111;
    font-size: 2em;
    font-weight: 600;
    font-style: normal;
}

.paragraph {
    color: var(--ligthGrey);
    margin-top: 20px;
    letter-spacing: 0.3px
}

.simple-image {
    width: 100%;
    margin: 10px 0px;
    border-radius: 10px;
}

.what-we-do-container {
    height: 150vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #F9F7FE;
    padding: 40px 15px 0px 15px;
}
