/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,900;1,500;1,600&display=swap');*/
:root{
    --green: #2AA639;
    --grey: #3F3F3F;
    --ligthGrey: #6F6F6F;
    --greyBackground: #F9F7FE;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0 solid #0000;
    font-family: 'Poppins', sans-serif;
}

.nav-bar {
    height: 10vh;
    width: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    position: fixed;
    z-index: 9999;
}

.nav-bar__logo {
    font-size: 2em;
}

.nav-bar__logo span{
    color: var(--green);
}

.hamburger {
    height: 40px;
    width: 40px;
    background: #000;
    border-radius: 7px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hamburger__line {
    height: 5px;
    background: #fff;
    width: 80%;
    border-radius: 5px;
}

.slider-container {
    height: 90vh;
    width: 100%;
    overflow: hidden;
    margin-top: 10vh;

}

.slider {
    position: relative;
    height: 100%;
    width: 400%;
    display: flex;
    overflow: hidden;
    transition: all 0.5s;
}

.slider-pos-1 {
    transform: translateX(0%);
}

.slider-pos-2 {
    transform: translateX(calc(-100%/4));
}

.slider-pos-3 {
    transform: translateX(calc(-100%/4*2));
}

.slider-pos-4 {
    transform: translateX(calc(-100%/4*3));
}

.slider__nav-container {
    height: 20vh;
    width: 9vw;
    position: absolute;
    z-index: 99;
    right: 0;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.slider__nav-button {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.4s;
}

.slider__nav-button:hover {
    background: #fff;
    color: var(--green);
}

.slider-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 15px;
}

.slider-page-1 {
    background: url(../img/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #0006;
    background-blend-mode: color
}

.slider-page-2 {
    background: url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #0006;
    background-blend-mode: color
}

.slider-page-3 {
    background: url(../img/banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #0006;
    background-blend-mode: color
}

.slider-page-4 {
    background: url(../img/banner4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #0006;
    background-blend-mode: color
}

.slider__subtittle {
    color: #fff;
    font-size: 1.3em;
    font-weight: 400;
    font-style: normal;
}

.slider__tittle {
    color: #fff;
    font-size: 3em;
    font-weight: 600;
}

.button--1 {
    width: auto;
    display: block;
    text-align: center;
    padding: 10px 20px;
    background: #fff;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 600;
    color: var(--green);
    margin-top: 30px;
    font-size: 1.2em;
    box-shadow: 0px 5px 10px #0003;
    border: 3px solid transparent;
    transition: all 0.6s;
}

.button--1:hover {
    background: transparent;
    border: 3px solid #fff;
    color: #fff;
    cursor: pointer;
}

.button--2 {
    width: auto;
    display: block;
    text-align: center;
    padding: 10px 20px;
    background: var(--green);
    border-radius: 100px;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
    font-size: 1.2em;
    box-shadow: 0px 5px 10px #0003;
    border: 3px solid transparent;
    transition: all 0.6s;
}

.button--2:hover {
    background: transparent;
    border: 3px solid var(--green);
    color: var(--green);
    cursor: pointer;
}

.about-us-container {
    height: 140vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: var(--greyBackground);
    padding: 40px 15px 0px 15px;
}

.subtittle {
    color: var(--grey);
    font-weight: 300;
    font-style: normal;
    animation: subtittleColor 3s linear 0s infinite alternate;
    /*add color animation*/
}

@keyframes subtittleColor {
    0% {
        color: var(--grey);
    }

    80% {
        color: var(--green);
    }

    100% {
        color: var(--green);
    }
}

.tittle {
    color: #111;
    font-size: 2em;
    font-weight: 600;
    font-style: normal;
}

.paragraph {
    color: var(--ligthGrey);
    margin-top: 20px;
    letter-spacing: 0.3px
}

.simple-image {
    width: 100%;
    margin: 10px 0px;
    border-radius: 10px;
}

.what-we-do-container {
    height: 140vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #fff;
    padding: 40px 15px 0px 15px;
}

.list__item {
    list-style: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #222;
}

.green-tick {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 20px;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 0.5;
}

.green-tick .fa-check {
    color: var(--green);
    font-size: 0.6em;
}

.before-after-container  {
    height: 125vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px;
    background: var(--greyBackground);
}

.before-after__img1-container, .before-after__img2-container  {
    position: relative;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.before-after__img1-container .before-after__text {
    position: absolute;
    color: #fff;
    top: 5%;
    left: 5%;
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 0px 0px 10px #000;

}

.before-after__img2-container .before-after__text {
    position: absolute;
    color: #fff;
    bottom: 5%;
    right: 5%;
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 0px 0px 10px #000;
}

.before-after__img {
    width: 100%;
    border-radius: 10px;
}

.healty-food-container {
    height: auto;
    width: 100%;
    padding: 20px 15px;
}

.healty-food__card-container {
    width: 100%;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.healty-food__card {
    margin: 30px 0;
}

.healty-food__card img {
    width: 100%;
    border-radius: 10px;
}

.healty-food__tittle {
    color: #111;
    font-size: 1.3em;
    font-weight: 600;
    padding-top: 18px;
    font-style: normal;
    transition: all 0.5s;
}

.healty-food__tittle:hover {
    color: var(--green);
    cursor: pointer;
}

.healty-food__card .paragraph {
    margin-top: 10px;
}

.counters-container {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);

    padding: 0 15px;
    background: var(--greyBackground);
}

.counter-block {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}

.counter-block .paragraph {
    margin: 0;
}

.number {
    font-size: 2em;
    font-weight: 600;
    color: var(--green);
}

.contact-container {
    height: 65vh;
    padding: 8vh 15px;
    background: url(../img/banner4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    background-color: #000a;

}

.contact__info-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-container .tittle {
    margin: 0;
    color: #fff;
}

.contact-container .paragraph {
    margin: 0;
    color: #eee;
}

.contact__input {
    height: 50px;
    width: 100%;
    border: 1px solid #fffa;
    border-radius: 100px;
    margin-bottom: 20px;
}

.contact__input::placeholder {
    padding: 20px;
    font-size: 1.2em;
    font-weight: 300;
}

.contact-container .button--2 {
    margin: 0;
}

.contact__text {
    color: #fff;
}

.contact__text-green {
    color: var(--green);
}

.out-clients-container {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.our-clients__card-container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-clients__card {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 50px;
    background: #F9F7FE;
    border-radius: 20px;
    box-shadow: 0px 0px 8px #0001
}

.our-clients__icon {
    font-size: 7em;
    height: 50px;
    color: var(--green);
}

.our-clients__client {
    padding: 30px 0px;;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-clients__img {
    border-radius: 50%;
    width: 70px;
}



.our-clients__navegtion {
   display: none;
}



/* ### desktop version ### */
@media (min-width: 800px) {

    .nav-bar {
        height: 11vh;
        padding: 0 80px;
        transform: translateY(-11vh);
    }

    .slider-page{
        height: 100%;
        padding: 0 80px;
    }

    .slider__tittle {
        font-size: 5em;
        width: 70%;
    }

    .button--1 {
        width: 18vw;
    }

    .button--2 {
        width: 18vw;
    }

    .about-us-container {
        height: 100vh;
        flex-direction: row;
        align-items: center;
        padding: 0 80px;
    }

    .tittle {
        font-size: 2.5em;
    }

    .paragraph {
        letter-spacing: 1px;

    }

    .simple-image {
        width: 40vw;
        height: 35vw;
        margin: 0 50px;
    }

    .what-we-do-container {
        height: 100vh;
        flex-direction: row;
        align-items: center;
        padding: 0 80px;
    }

    .what-we-do__info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .list-container {
        margin: 30px 0;
        flex-grow: 0.5;
    }

    .list__item {
        margin: 7px 0px;
    }

    .before-after-container {
        height: 85vh;
        flex-direction: row;
        padding: 0 80px;
    }

    .before-after__img1-container, before-after__img2-container {
        margin: 0px 20px;
    }

    .healty-food-container {
        padding: 30px 80px;
    }

    .healty-food__cards-disposicion-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .healty-food__card {
        width: 30%;
    }

    .counters-container {
        padding: 35px 80px;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4,1fr);
    }

    .number {
        font-size: 3em;
    }

    .counter-block .paragraph {
        font-size: 1.2em;
    }

    .contact-container {
        padding: 35px 80px;
        flex-direction: row;
    }

    .contact__info-container {
        width: 50%;
        margin-left: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 8vh 0;
    }

    .contact__input-container {
        display: flex;
    }

    .contact__input {
        width: 70%;
        margin-bottom: 0;
    }

    .contact__input-container .button--2 {
        width: 15vw;
        margin-left: 20px;

    }

}
